@media screen and (max-width: 1080px) {

    .btn {font-size: .6rem;}

    .container header nav ul {font-size: .8rem;}

    .container .hero .hero-content {padding-left: 7em;}

    .container .hero .hero-content h2 {font-size: 2rem;}

    .container .hero .hero-content h2 span {font-size: 1rem;}

    .container .hero .hero-content h1{font-size: 4rem;}

    .about-info .about-text .inner-text p {font-size: 1rem;}

    .container .about .about-info .skills-col .skills-header h2 {font-size: 1.2rem;}

    .container .about .about-info .skills-col .skill-set
    
    .container footer .main-footer {
        margin: 3em 0 2em 5em;
    }

}